.wrapper-modal-up {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-styles-up {
    background-color: #fff;
    color: #111;
    border-radius: 8px;
    box-shadow: 0 0 10px #808080;
    border: 1px solid #808080;
    padding: 15px;
    margin: 20vh auto;
    max-width: 250px;
    height: 40vh;
    width: 80vw;
    max-width: 400px;
}

.form-styles-up {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.form-styles-up label,
.form-styles-up input {
  text-align: left;
  margin: 5px 0;
  width: 100%;
}

button {
    max-width: 180px;
    margin: 5px;
    padding: 5px;
    
}

.close-btn-up {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 5rem;
}